* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #0f0f0f;

}

h1 {
  color: #ffffff;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  border-bottom: 1px dashed #262626;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin: 30px auto;
  max-width: 1696px;
}


.nav-group {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  gap: 14px;
}

.home-link {
  display: inline-flex;
  border-radius: 12px;
  width: 104px;
  height: 63px;
   border: 1px dashed #262626;
  color: #b3b3b2;
  justify-content: center;
  align-items: center;
}

.product-link {
  display: inline-flex;
  width: 135px;
  height: 63px;
  border: 1px dashed #262626;
  border-radius: 12px;
  color: #b3b3b2;
  justify-content: center;
  align-items: center;
}

.cart-icon-link {
  display: inline-flex;
  width: 60px;
  height: 60px;
  background-color: #1a1a1a;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

.contact-link-header {
  display: inline-flex;
  width: 136px;
  height: 63px;
  background-color: #ae9b84;
  border-radius: 12px;
  color: #0f0f0f;
  justify-content: center;
  align-items: center;
}


/* აქ, ზემოთ ჰოვერები გავუკეთო ლინკებს ნავიგციაში და ლოგოს Style.loom */

/* hero-section*/
.hero-section {
  max-width: 1596px;
  border-radius: 20px;
  display: grid;
  margin: 60px auto;
  position: relative;
}

.hero-container {
  position: relative;
  width: 100%;
}
.hero-picture img {
  width: 100%;
  height: 624px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  display: block;
  z-index: 1;
}

.shop-now-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 63px;
  border: 1px dashed #404040;
  border-radius: 12px;
  color: #ffffff;
  background-color: #1f1f1f;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.shop-now-hero-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0f0f0f;
  border-radius: 20px;
  top: 577px;
  z-index: 2;
  width: 198px;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-text {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.grid-card {
  border: 1px dashed #262626;
  height: 100%;
}

.left-side {
  grid-row: 1 / 3;
  padding: 100px 80px 80px 80px;
  border-radius: 0 0 0 20px;
}

.people {
  display: flex;
  gap: 14px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 50px;
}

.people a {
  width: 40%;
  height: 100px;
  padding: 14px 24px;
  color: #b3b3b2;
  border: 1px dashed #333333;
  border-radius: 12px;
}

.main-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.grid-card p {
  color: #676665;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.number {
  color: #ffffff;
  font-weight: 500;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 16px;
}

.under-text {
  color: #81807e;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.statistics {
  padding: 40px 50px;
}

.last-card {
  border-radius: 0 0 20px 0;
}

/* info-grid section about shop */
.info-grid {
  display: grid;
  max-width: 1596px;
  margin: 0 auto;
  border-radius: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.first-card {
  height: 273px;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  border-radius: 20px 20px 0 0;
}
.five {
  border-radius: 0 0 0 20px;
}

.seven {
  border-radius: 0 0 20px 0;
}
.grid-heading {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
}

.grid-paragraph {
  color: #676665;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.card {
  border: 1px dashed #262626;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
}

.round-icon {
  padding-top: 60px;
}

.card-text > h3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 16px;
}

.card-text > p {
  color: #81807e;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-right: 60px;
}

.card-text {
  padding: 50px 60px 60px 60px;
}

/* collection cards section */
.collection {
  display: grid;
  grid-template-columns: minmax(532px, 1fr) 1fr 1fr;
  margin: 0 auto;
  max-width: 1596px;
}

.first-cont {
  grid-column: 1 / 4;
  height: 386px;
  border: 1px dashed #262626;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  border-radius: 20px 20px 0 0;
}

.first-cont-txt {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.first-cont-txt > h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.first-cont-txt p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #676665;
}

.first-cont-links {
  list-style: none;
  display: flex;
  gap: 14px;
  margin-top: 50px;
}

.first-cont-links a {
  border: 1px dashed #333333;
  border-radius: 12px;
  padding: 18px 24px;
  color: #b3b3b2;
}

.one a {
  background-color: #c2b4a3;
  height: 70px;
  color: #0f0f0f;
  border: hidden;
}

.product-cards > img {
  width: 87%;
  height: 60%;
  object-fit: cover;
  border-radius: 50px 50px 0 0;
  margin: 30px;
}

.product-cards {
  height: 639px;
  width: 532px;
  border: 1px dashed #262626;
}

.cards-link {
  display: flex;
  justify-content: space-between;
}

.tag {
  display: inline-flex;
  border: 1px dashed #262626;
  background-color: #1a1a1a;
  border-radius: 100px;
  padding: 10px 16px;
  margin-left: 46px;
  color: #b3b3b2;
  height: 47px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 10px;
}

.shop-now {
  border: 1px dashed #404040;
  background-color: #1f1f1f;
  border-radius: 12px;
  color: #ffffff;
  padding: 18px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-right: 40px;
}

.card-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  font-family: "Roboto Mono";
  margin: 20px 0px 14px 30px;
}

.fit,
.price {
  padding: 30px;
  color: #81807e;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.fit-ans,
.price-number {
  color: #cccccc;
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}

.last-card {
  border-radius: 0 0 20px 0;
}

.fifth-card {
  border-radius: 0 0 0 20px;
}

/* QA section */

.questions-container {
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 1fr;
  margin: 36px auto;
  max-width: 1596px;
}

.questions-first-card {
  grid-column: 1 / 3;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-between;
}

.questions-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.questions-first-card p {
  color: #676665;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.questions-links {
  list-style: none;
  display: flex;
  height: 63px;
  margin-top: 50px;
  gap: 14px;
}

.questions-links a {
  border: 1px dashed #333333;
  border-radius: 12px;
  padding: 18px 24px;
  color: #b3b3b2;
}


.text-before-shape {
  padding: 80px 0 80px 80px;
}

.box {
  border: 1px dashed #262626;
}

.question {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
  margin-bottom: 16px;
}

.answer {
  color: #81807e;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.same-box {
  padding: 60px;
}

.sixth-box {
  border-radius: 0 0 0 20px;
}

.last-box {
  border-radius: 0 0 20px 0;
}

/* footer logos' section */

.footer-logos {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  padding: 0 162px;
  border: 1px dashed #262626;
  border-left: none;
  border-right: none;
  align-items: center;
}

.styleloom-logo {
  padding: 100px 0;
}

.social-media {
  display: flex;
  gap: 20px;
}

/* text area of footer */

.footer-info {
  display: flex;
  justify-content: space-evenly;
}

.footer-info h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.home-footer,
.products-footer {
  margin: 96.5px 0 96.5px 0;
}

.footer-links a {
  color: #676665;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.footer-links {
  display: flex;
  gap: 18px;
  margin-top: 30px;
}

.subscribe-newsletter {
  display: grid;
  margin-top: 80px;
  margin-bottom: 60px;
}

::placeholder {
  color: #676665;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-left: 24px;
}

.subscribe-form {
  position: relative;
  width: 460px;
  max-width: 100%;
}

.email-input {
  background-color: #1a1a1a;
  height: 63px;
  border: none;
  border-radius: 12px;
  width: 100%;
}

.submit-btn {
  background-color: #1a1a1a;
  border: none;

  position: absolute;
  right: 20px;
  top: 19px;
}

/* copyrights section */

.footer-end {
  display: flex;
  color: #81807e;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  justify-content: space-between;
  padding: 50px 162px;
  border-top: 1px dashed #262626;
}

.policies > a {
  color: #81807e;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-left: 5px;

}


/* hovers and animations on links*/
.home-link:hover{
  background-color: #1a1a1a;
  color: #ffffff;
}

.product-link:hover {
  background-color: #1a1a1a;
  color: #ffffff;
}

.cart-icon-link:hover {
  background-color: #676665;

}

.contact-link-header:hover{
  transition: transform 1s linear 0s;
  background-color: #676665;
  transform: rotate(5deg);
}

.people a:hover {
   transition: background-color 1s ease 0s;
  background-color: #1a1a1a;
  color: #ffffff;
   border: none;
}

.first-cont-links a:hover {
  transition: background-color 1s ease 0s;
   background-color: #c2b4a3;
  color: #0f0f0f;
  border: none;
}

.first-cont-links li:hover{
transform: scale(1.1);
}


.questions-links a:hover {
  transition: background-color 1s ease 0s;
  background-color: #c2b4a3;
  color: #0f0f0f;
  border: hidden;
}

.product-cards img:hover {
  transition: transform 1s;
  transform: scale(1.1);
}

.footer-links a:hover {
  transition: color 1s ease 0s;
  color: #fdfcfc;
}

.policies a:hover {
   transition: color 1s ease 0s;
  color: #fdfcfc;
}

.question:hover {
  transition: color 1s ease 0s;
  color: #d4a15b;
  cursor: pointer;
}

@keyframes media {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
   transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.social-media-logos {
  animation: media 3s linear 1s infinite;
   animation-play-state: running;
}
.social-media-logos:hover{
  animation-play-state: paused;
}

@keyframes media2 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
   transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.social-media-logos2 {
  animation: media2 3s linear 1s infinite;
  animation-play-state: running;
}

.social-media-logos2:hover {
  animation-play-state: paused;
}




/* shop-now btn border animation */

.shop-now-btn,
 .shop-now {
  position: relative;
  display: inline-flex;
  align-items: center;

  overflow: hidden;
  z-index: 1;
}

.shop-now-btn:hover,
.shop-now:hover {
  transition: transform 0s;
  transform: scale(1.1);
}


.shop-now-btn::before,
.shop-now::before {
  content: "";
  position: absolute;
  inset: -98px;
  background: conic-gradient(
    from 0deg,
    #f7f6f6,
    #e30f0f,
    #f7f6f5
  );
  border-radius: 12px;
  animation: spinBorder 1s linear infinite;
  z-index: -1;
}


.shop-now-btn::after,
.shop-now::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #1f1f1f;;
  border-radius: 12px;
  z-index: -1;
}

@keyframes spinBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}